.btn-orange {
    color: var(--bg-white);
    background-color: var(--color03);
    outline: none;
    box-shadow: none;
    font-size: 1rem;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
}

.btn-orange:hover {
    color: var(--bg-white);
    background-color: var(--color-hover);
}

.btn-orange-outline{
    color: var(--color03);
    background-color: transparent;
    outline: 2px solid var(--color03);
    box-shadow: none;
    font-size: 1rem;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
}

.btn-orange-outline:hover{
    color: var(--bg-white);
    background-color: var(--color03);
    border-radius: 0px;
    outline: none;
}

.btn-tooltip-defaut{
    width: auto;
    height: auto;
    color: var(--color03);
    background-color: transparent;
    box-shadow: none;
    padding: 0px;
    outline: none;
    font-size: 1.2rem;
}

.btn-tooltip-defaut:hover{
    color: var(--color-hover);
    background-color: transparent;
    box-shadow: none;
    padding: 0px;
    outline: none;
}

.btn-login{
    color: var(--bg-white);
    background-color: var(--color03);
    outline: none;
    box-shadow: none;
    font-size: 1rem;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
}

.btn-login:hover{
    color: var(--bg-white);
    background-color: var(--color-hover);
}

